<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List - Home</title>
</head>
<body>
    <div class="container">
        <form action="cadastrar-usuario" method="post">
            <input type="text" placeholder="Nome" name="nome">
            <input type="email" placeholder="Email" name="email">
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>